@tailwind base;
@tailwind components;
@tailwind utilities;

/* === 1. Base Palette Tokens === */
:root {
  --white: 0 0% 100%;
  --black: 0 0% 0%;
  --black-charcoal: 30 3% 7%;
  --grey-dark: 60 4% 11%;
  --red: 347 71% 44%;
  --red-dark: 332 100% 21%;
  --pink-light: 350 55% 96%;
  --blue: 212 44% 40%;
  --blue-dark: 230 27% 32%;
  --blue-light: 211 28% 83%;
  --grey-light: 30 29% 97%;
}

/* === 2. Base Design Tokens === */
@layer base {
  :root {
    --background: var(--white);
    --foreground: 0 0% 3.9%;

    --card: var(--white);
    --card-foreground: 0 0% 3.9%;

    --popover: var(--white);
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    /* Semantic roles */
    --header-background: var(--white);
    --header-text: var(--black);
    --title: var(--black);
    --icon: var(--black);
  }

  /* === 3. Themes === */

  [data-theme='light-invanare'] {
    --background: var(--white);
    --foreground: var(--black);

    --primary: var(--red);
    --primary-foreground: var(--white);

    --secondary: var(--pink-light);
    --secondary-foreground: var(--black);

    --accent: var(--red);
    --accent-foreground: var(--white);

    --border: var(--black);
    --input: var(--red);
    --ring: var(--red);

    --header-background: var(--pink-light);
    --header-text: var(--red);
    --title: var(--red);
    --icon: var(--red-dark);
  }

  [data-theme='dark-invanare'] {
    --background: var(--grey-dark);
    --foreground: var(--grey-light);

    --primary: var(--red-dark);
    --primary-foreground: var(--white);

    --secondary: var(--red);
    --secondary-foreground: var(--white);

    --accent: var(--red-dark);
    --accent-foreground: var(--white);

    --border: var(--grey-light);
    --input: var(--pink-light);
    --ring: var(--pink-light);

    --header-background: var(--black-charcoal);
    --header-text: var(--pink-lightt);
    --title: var(--grey-light);
    --icon: var(--red);
  }

  [data-theme='light-personal'] {
    --background: var(--white);
    --foreground: var(--black);

    --primary: var(--blue);
    --primary-foreground: var(--white);

    --secondary: var(--blue-dark);
    --secondary-foreground: var(--white);

    --accent: var(--blue);
    --accent-foreground: var(--white);

    --border: var(--black);
    --input: var(--blue);
    --ring: var(--blue);

    --header-background: var(--grey-light);
    --header-text: var(--blue);
    --title: var(--blue);
    --icon: var(--blue-dark);
  }

  [data-theme='dark-personal'] {
    --background: var(--grey-dark);
    --foreground: var(--grey-light);

    --primary: var(--blue);
    --primary-foreground: var(--white);

    --secondary: var(--blue);
    --secondary-foreground: var(--grey-light);

    --accent: var(--blue);
    --accent-foreground: var(--white);

    --border: var(--blue);
    --input: var(--grey-light);
    --ring: var(--grey-light);

    --header-background: var(--black-charcoal);
    --header-text: var(--blue-light);
    --title: var(--grey-light);
    --icon: var(--blue);
  }
}

/* === 4. Global Base Styling === */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  }
}

/* === 5. Font === */
@font-face {
  font-family: "uncut sans";
  src: url("./uncut-sans.woff2") format("woff2");
}

* {
  font-family: "uncut sans", sans-serif;
}

/* === 6. Markdown === */
#markdown a {
  @apply text-blue-500;
}

/* === 7. Scrollbar Utility === */
.no-scrollbar-gutter {
  scrollbar-gutter: auto;
  overflow-y: scroll;
}
.no-scrollbar-gutter::-webkit-scrollbar {
  display: none;
}
